#instructions {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  padding: 20px 20px 30px 20px;
  background: black;
  overflow-y: scroll;
  font-family: sans-serif;
  font-size: 0.8em;
  line-height: 2em;
  border-top: 3px solid orange;
  box-shadow: 0px -2px 4px black;
  color: white;
}